/*#region Mainpage style*/

.mainpage-button {
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(to bottom, lightblue 0%,#389ed5 100%); /* W3C */
    border: none;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,.4);
    font-size: 18px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
}

#signin-buttons {
    text-align: center;
}

.form-group {
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-basis: 100%;
}

.form-group > input {
    margin-left: 10px;
    width: 150px;
    flex-basis: 100%;
}

#first-input {
    margin-left: 0px;
}

#list-div {
    display: flex;
    margin-top: 20px;
    border: thin solid black;
    padding: 10px;
    height: 225px;
}

#list-div:hover {
    border: thin solid blue;
    background-color: aliceblue;
}

/*#region img-div style*/
#list-div .img-div {
    width: 30%;
}

#list-div .img-div img {
    width: 100%;
    height: 100%
}
/*#endregion*/

/*#region info-div style*/
#list-div #info-div {
    width: 100%;
}

#list-div #info-div .nav-link {
    color: black;
    font-weight: 500;
    font-size: 48px;
    width: fit-content;
    font-family: 'Lora';

    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.so-p {
    margin: 0;
    padding: 0;

    margin-left: 10px;
}

#title-div {
    display: flex;
}

#title-div > p {
    font-weight: bold;
    font-size: x-large;
    margin-top: 15px;
    margin-left: auto;
    height: 100%;
}

.separator {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}
/*#endregion*/

#so-div {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    border: solid thick black;
}

#navbar-maindiv {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: solid thick black;
    position: fixed;
    top: 0;
    z-index: 9999;
}

#navbar {
    font-size: large;
}

.view {
    margin-top: 110px;
}

#login-div {
    width: 400px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid thick black;
}

#login-div > form {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#login-button  {
    margin-top: 20px;
}

#register-div {
    width: 400px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: solid thick black;
    
}

#register-div .inner-div {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#loginButton {
    margin-right: 10px;
}

#register-button {
    margin-left: 10px;
    margin-right: 10px;
}

#home-navbar {
    color: black;
    display: flex;
}

#home-navbar > p {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 24px;
}

#createFacility-div {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
}
/*#endregion*/

@font-face {
    font-family: 'Lora', serif;
    src: url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); /*URL to font*/
}

/*#endregion*/